body{
    background-color: grey ;
}
#countLabel{
    display: block;
    text-align: center;
    font-size: 10cm;
    font-family: Helvetica;


}
#btnContainer1{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background-color: bisque;
    border-radius: 5px;
    cursor: pointer;
    transition: backround-color 0.25s;

}
.buttons:hover{
    background-color: rgb(39, 29, 29);
}   